.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0 2%;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  background: var(--tertiary-background-color);
  animation: sftAbs 1s cubic-bezier(0.25, 0.75, 0.5, 1);
}

@keyframes sftAbs {
  0% {
    top: -50%;
  }

  100% {
    top: 0;
  }
}

.hamburgerLogoCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hamburger,
.cross {
  display: none;
  margin-right: 0.5rem;
  cursor: pointer;
}

.logo {
  width: 70px;
}

.logoImg {
  object-fit: contain;
}

.actions {
  display: flex;
  align-items: center;
}

.actionButtons {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.actionButtons > :nth-child(odd) {
  margin-right: 0.5rem;
}

.bookDemo {
  display: flex;
  border: 1px solid var(--primary-background-color);
  border-radius: 10px;
  padding: 0.5rem 2.5vw;
  /* font-size: 10px; */
  font-size: 100%;
  cursor: pointer;
  font-weight: 700;
}

.whatsappBtn {
  border: 1px solid var(--primary-background-color);
  display: inline-block;
  padding: 0.5rem 2.5vw;
  font-weight: 700;
  font-size: 100%;
  font-weight: 700;
  background: var(--tertiary-background-color);
  color: var(--primary-font-color);
  border: 1px solid var(--primary-background-color);
  border-radius: 10px;
}

.whatsappBtn a {
  color: var(--primary-font-color);
}

@media screen and (max-width: 767px) {
  .hamburger,
  .cross {
    display: block;
  }
}

@media screen and (min-width: 350px) {
  .logo {
    width: 100px;
  }

  .bookDemo,
  .whatsappBtn {
    font-size: 120%;
  }
}

@media screen and (min-width: 423px) {
  .bookDemo,
  .whatsappBtn {
    font-size: 111.39%;
    border-radius: 6.32px;
  }

  .logo {
    width: 120px;
  }
}

@media screen and (min-width: 767px) {
  .header {
    position: relative;
  }

  .bookDemo {
    font-size: 120%;
    padding: 0.75rem 1rem;
  }

  .whatsappBtn {
    font-size: 120%;
    padding: 0.75rem 1rem;
  }

  .logo {
    width: 135px;
  }
}

@media screen and (min-width: 1140px) {
  .bookDemo,
  .whatsappBtn {
    /* font-size: 18px; */
    font-size: 180%;
  }

  .logo {
    width: 164px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 0 4rem;
    padding-left: 6rem;
  }

  .actionButtons > :nth-child(odd) {
    margin-right: 1rem;
  }

  .bookDemo,
  .whatsappBtn {
    padding: 1rem 1.5rem;
  }

  .logo {
    margin-left: -1rem;
  }
}

@keyframes sftAbs {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}
