.courses {
  background: rgba(86, 163, 255, 0.12);
}

.courseSwiper {
  padding: 0.5rem;
  padding-bottom: 3rem;
}

.title {
  padding: 1.5rem;
  margin: 0;
  font-size: 250%;
  font-weight: bold;
  line-height: 56px;
  text-align: center;
  color: var(--secondary-font-color);
  padding-top: 0;
}

@media screen and (min-width: 380px) {
  .courses {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 423px) {
  .title {
    font-size: 300%;
  }
}

@media screen and (min-width: 480px) {
  .courseSwiper {
    padding: 1rem;
    padding-bottom: 2rem;
    padding-right: 6rem;
  }
}

@media screen and (min-width: 767px) {
  .courseSwiper {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .courses {
    padding: 0 4.5rem;
    padding-bottom: 4.5rem;
  }
  .title {
    font-size: 480%;
    padding: 3rem;
  }

  .courseSwiper {
    padding-bottom: 3.5rem;
  }
}
