.footerIcon {
  display: flex;
  fill: var(--tertiary-font-color);
  width: 20px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.2rem;
  margin-right: 0.3rem;
}

.bars,
.times {
  transform: scale(0.85);
}

.bars,
.times,
.followIcon {
  fill: #173760;
}
