.LeadQualificationForm {
  text-align: center;
  margin-top: 0.9rem;
}

.control {
}

.input,
.dropdown {
  display: block;
  padding: 0.7rem;
  font-weight: 300;
  width: 91.5%;
  margin: auto;
  border-radius: 7px;
  margin-bottom: 0.9rem;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../../public/assets/images/downward-triangle.png);
  background-size: 3%;
  background-repeat: no-repeat;
  background-position-x: 94%;
  background-position-y: 50%;
}

.errorOutline {
  border: 1px solid red;
}

.submitBtn {
  display: inline-flex;
  background: var(--primary-background-color);
  color: var(--tertiary-font-color);
  font-size: 120%;
  padding: 1rem 0;
  justify-content: center;
  width: 91.5%;
  font-weight: 700;
  margin-bottom: 0.9rem;
}

.error {
  color: red;
  width: 91.5%;
  margin-inline: auto;
  text-align: left;
}

.loading {
  border: 3px solid #e7e7e7;
  border-top: 3px solid #1b4271;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: loading 2s linear infinite;
  /* margin-bottom: 1rem; */
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 767px) {
  .input,
  .dropdown {
    font-size: 12px;
  }
}

@media screen and (min-width: 1240px) {
  .input,
  .dropdown {
    font-size: 16px;
  }
}
