.items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:not(:last-child) {
  margin-right: 1rem;
}

.link,
.link:link,
.link:visited,
.link:active {
  color: var(--secondary-font-color);
  opacity: 0.7;
  font-size: 120%;
  font-weight: 300;
  text-transform: capitalize;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .navigation {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    width: 100%;
    background: var(--tertiary-background-color);
    z-index: 100;
    height: calc(100vh - var(--header-height));
  }

  .items {
    padding: 3rem;
    flex-direction: column;
  }

  .item:not(:last-child) {
    margin-bottom: 1.5rem;
    margin-right: 0;
  }

  .item:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1140px) {
  .link,
  .link:link,
  .link:visited,
  .link:active {
    font-size: 180%;
  }
}

@media screen and (min-width: 1440px) {
  .item:not(:last-child),
  .item:last-child {
    margin-right: 2.2rem;
  }
}
