.whyStudentLoveUs {
  padding: 2.5rem 1%;
  padding-bottom: 0;
}

.whyStudentsLoveUsSwiper {
  padding-right: 4.5rem;
}

.testimonials {
  max-width: 767px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.link {
  width: 48.5%;
}

/* .link:first-of-type {
  margin-left: 1.5rem;
} */

.videoThumb {
  position: relative;
  border-radius: 10px;
}

.videoImg {
  border-radius: 10px;
}

.title {
  font-weight: 700;
  color: var(--secondary-font-color);
  font-size: 250%;
  text-align: center;
  /* margin-top: var(--mb-2); */
  margin-top: 0;
  margin-bottom: var(--mb-2);
}

.playBtn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.playArrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid var(--tertiary-font-color);
  border-bottom: 10px solid transparent;
  margin-left: 0.5rem;
}

.videoTitle {
  margin: 0;
  color: var(--secondary-font-color);
  font-weight: 600;
  /* font-size: 23.99px; */
  font-size: 160%;
  text-align: center;
  margin-top: var(--mb-1-5);
  margin-bottom: var(--mb-0-5);
}

.videoSubtitle {
  color: var(--secondary-font-color);
  font-weight: 300;
  /* font-size: 16.79px; */
  font-size: 140%;
  text-align: center;
}

@media screen and (min-width: 368px) {
  .whyStudentsLoveUsSwiper {
    padding-right: 0;
  }

  .videoThumb {
    padding-inline: 1rem;
  }

  .link:first-of-type {
    margin-left: 0;
  }
}

@media screen and (min-width: 423px) {
  .title {
    font-size: 300%;
  }
}

@media screen and (min-width: 540px) {
  .videoTitle {
    font-size: 200%;
  }

  .videoSubtitle {
    font-size: 140%;
  }
}

@media screen and (min-width: 767px) {
  .title {
    font-size: 360%;
  }

  .videoThumb {
    margin-inline: 2rem;
  }

  .videoTitle {
    font-size: 220%;
  }

  .videoSubtitle {
    font-size: 150%;
  }

  .playBtn {
    width: 50px;
    height: 50px;
    padding: 2rem;
    top: 50%;
  }

  .playArrow {
    border-top: 15px solid transparent;
    border-left: 25px solid var(--tertiary-font-color);
    border-bottom: 15px solid transparent;
  }
}

@media screen and (min-width: 1440px) {
  .whyStudentLoveUs {
    padding: 5rem 1%;
  }

  .testimonials {
    max-width: 967px;
  }

  .title {
    font-size: 480%;
    margin-bottom: var(--mb-5);
  }

  .link {
    width: 42.5%;
  }

  .videoThumb {
    margin-inline: 0;
    padding-inline: 0;
  }

  .videoTitle {
    font-size: 330.25%;
  }

  .videoSubtitle {
    font-size: 230.28%;
  }

  .playBtn {
    width: 80px;
    height: 80px;
  }
}
