.whatSetsUsApart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  padding-inline: 0.75rem;
}

.titleImageCon {
  text-align: center;
}

.title {
  margin-top: 0;
  line-height: 56px;
  font-size: 250%;
  align-items: center;
  color: var(--secondary-font-color);
}

.imgCon {
  /* width: 250px;
  height: 250px; */
  border-radius: 50%;
  padding: 1rem;
}

.img {
  object-fit: cover;
  border-radius: 50%;
}

.pointsCon {
  margin-top: var(--mb-2);
}

.bookDemo {
  background: var(--primary-background-color);
  color: var(--tertiary-font-color);
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px;
  font-size: 180%;
  font-weight: 700;
  width: 70%;
  margin: 5rem auto;
  margin-bottom: 0;
}

@media screen and (min-width: 380px) {
  .whatSetsUsApart {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 423px) {
  .title {
    font-size: 300%;
  }
}

@media screen and (min-width: 500px) {
  .imgCon {
    width: 380px;
    padding: 0;
  }
}

@media screen and (min-width: 767px) {
  .whatSetsUsApart {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .titleImageCon,
  .pointsCon {
    width: 45%;
  }

  .titleImageCon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .title {
    position: absolute;
    bottom: 105%;
  }

  .imgCon {
    width: 350px;
  }
}

@media screen and (min-width: 967px) {
  .whatSetsUsApart {
    padding: 3rem;
  }
  .title {
    position: absolute;
    bottom: 98%;
  }
  .imgCon {
    width: 420px;
  }
}

@media screen and (min-width: 1280px) {
  .imgCon {
    width: 500px;
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .whatSetsUsApart {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .title {
    font-size: 480%;
    font-weight: 700;
    line-height: 56px;
    top: -5%;
    left: 21%;
  }

  .imgCon {
    width: 588px;
    height: 588px;
    margin-top: 6rem;
    margin-left: 6rem;
  }

  .pointsCon {
    margin-top: var(--mb-3);
  }

  .bookDemo {
    width: 60%;
    margin: 0;
    margin-left: 5rem;
  }
}
