.footer {
  margin-top: 3rem;
}

.footerWrapper {
  background: var(--primary-font-color);
  padding: 17rem 1rem;
  padding-bottom: 2rem;
  position: relative;
}

.downloadMyCareer {
  background: linear-gradient(90deg, #e8505b 0%, #1b4271 42.71%);
  padding: 1rem;
  border-radius: 10px 6px 6px 6px;
  width: 98%;
  margin: 0 auto;
  margin-bottom: -14rem;
  position: inherit;
  align-items: center;
  position: relative;
  z-index: 1;
}

.qrCode {
  display: none;
  width: 40%;
  padding: 3.5rem;
}

.downloadTitle {
  margin-top: 0;
  font-weight: 600;
  font-size: 140%;
  color: var(--tertiary-font-color);
  margin-bottom: var(--mb-1-5);
  text-align: center;
}

.downloadDescription {
  margin-top: 0;
  font-weight: 200;
  font-size: 100%;
  line-height: 20px;
  color: var(--tertiary-font-color);
}

.stores {
  display: flex;
  align-items: center;
}

.leftCon {
  display: flex;
  flex-direction: column;
  position: relative;
}

.aboutCon,
.exploreCon,
.courses {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  flex-direction: column;
}

.link,
.listItem {
  display: flex;
  align-items: center;
}

.title,
.description,
.link,
.followText {
  color: var(--tertiary-font-color);
}

.title {
  font-size: 140%;
  line-height: 16.71px;
  font-weight: 700;
  margin-bottom: 10px;
}

.description {
  margin-top: 0;
}

.description,
.link,
.listItem {
  font-size: 120%;
  line-height: 17.06px;
  font-weight: 100;
  /* display: flex; */
  align-items: center;
}

.rightCon {
  border-left: 1px solid #fff;
  padding-left: 2rem;
}

.follow {
  display: flex;
  align-items: center;
  margin-top: var(--mb-2);
}

.followText {
  font-size: 140%;
  margin-right: var(--mb-0-5);
}

.followIcons {
  display: flex;
  width: 120px;
  justify-content: space-around;
  align-items: center;
}

.listItem {
  color: var(--tertiary-font-color);
}

.corporateHeadOffice {
  width: 176px;
}

.corporateHeadOffice .link {
  align-items: flex-start;
}

@media screen and (min-width: 280px) {
  .downloadMyCareer {
    width: 98%;
    flex-direction: column;
  }

  .downloadContent {
    flex-direction: column;
    width: 100%;
  }

  .downloadTitle {
    text-align: center;
    font-size: 180%;
    line-height: unset;
  }

  .downloadDescription {
    font-size: 140%;
    line-height: 25px;
  }

  .stores {
    justify-content: center;
  }

  .qrCode {
    display: none;
  }

  .footer,
  .leftCon {
    flex-direction: column;
  }

  .rightCon {
    border: none;
    padding-left: 0;
  }

  .listItem {
    margin-left: -0.5rem;
  }
}

@media screen and (min-width: 360px) {
  .downloadMyCareer {
    width: 95%;
  }

  .aboutCon {
    width: 40%;
  }

  .leftCon {
    padding: 0 1rem;
  }

  .exploreCon {
    position: absolute;
    right: 1rem;
    top: 0;
  }
}

@media screen and (min-width: 423px) {
  .downloadMyCareer {
    width: 85%;
    padding: 2.5rem;
  }

  .downloadTitle {
    font-size: 320%;
  }

  .downloadDescription {
    line-height: 28px;
    font-size: 160%;
  }

  .stores {
    flex-direction: column;
  }

  .title {
    font-size: 120.16%;
  }

  .description,
  .link {
    font-size: 100.42%;
  }

  .contactCon {
    margin-top: var(--mb-2);
  }

  .corporateHeadOffice {
    margin-top: var(--mb-1-5);
    width: 41%;
  }
}

@media screen and (min-width: 767px) {
  .downloadMyCareer {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    padding: 2.5rem;
  }

  .downloadContent {
    width: 60%;
  }

  .downloadTitle {
    text-align: left;
    font-size: 240%;
  }

  .downloadDescription {
    font-size: 120%;
  }

  .downloadMyCareer,
  .downloadContent {
    flex-direction: row;
  }

  .stores {
    flex-direction: row;
    justify-content: flex-start;
  }

  .qrCode {
    width: 28%;
    padding: 0;
    display: block;
  }

  .footerWrapper {
    padding-left: 7%;
    padding-right: 7%;
  }

  .leftCon {
    flex-direction: row;
    justify-content: space-between;
    padding: unset;
  }

  .exploreCon {
    position: unset;
  }

  .leftCon > * {
    width: 22%;
  }

  .aboutCon {
    width: 25%;
    padding-right: 2.5rem;
    max-width: 250px;
  }

  .exploreCon,
  .courses {
    max-width: 250px;
  }

  .courses {
    padding-right: 2rem;
  }

  .contactCon {
    width: 30%;
    border-left: 1px solid var(--tertiary-font-color);
    padding-left: 2rem;
  }

  .listItem {
    margin-left: 0;
  }

  .contactCon {
    margin-top: 0;
  }

  .corporateHeadOffice {
    width: initial;
  }
}

@media screen and (min-width: 1080px) {
  .footer,
  .leftCon {
    flex-direction: row;
  }

  .downloadTitle {
    font-size: 300%;
  }

  .downloadDescription {
    font-size: 16px;
  }

  .qrCode {
    padding: 1rem;
  }

  .aboutCon {
    width: 33.333%;
  }
}

@media screen and (min-width: 1440px) {
  .footerWrapper {
    padding: 13rem 0;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-bottom: 5rem;
  }

  .downloadMyCareer {
    width: 82%;
    padding: 2rem 3rem;
    margin-bottom: -11rem;
  }

  .downloadContent {
    width: 68%;
  }

  .downloadTitle {
    font-size: 400%;
    line-height: 56px;
  }

  .downloadDescription {
    font-size: 200%;
    line-height: 32px;
  }

  .qrCode {
    padding: 1rem;
    width: 30%;
  }

  .aboutCon {
    width: 227px;
  }

  .exploreCon {
    width: 130px;
  }

  .courses {
    width: 250px;
  }

  .contactCon {
    width: 20%;
  }

  .follow {
    width: 300px;
  }

  .followIcons {
    width: 180px;
  }
}
