.feature {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
  margin-bottom: 32px;
  /* margin-bottom: 2rem; */
}

.iconCon {
  width: 65px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title {
  margin: 0;
  margin-left: 0.65rem;
  text-transform: capitalize;
  font-size: 110.5%;
  line-height: 12.7px;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .feature {
    width: 25%;
  }

  .title {
    font-size: 120%;
    line-height: 18px;
  }
}

@media screen and (min-width: 1240px) {
  .title {
    font-size: 160%;
  }
}

@media screen and (min-width: 1440px) {
  .iconCon {
    /* transform: scale(1.3); */
  }
}
